body {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position:0% 0%;
    position:relative;
}

body {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position:0% 0%;
    position:relative;
}

body {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position:0% 0%;
    position:relative;
}

.image-button {
    flex: auto;
}

#background-area {
    display: grid;
    grid-template-columns: 33% 25% 40%;
}

#cat, #mic, #speech {
    grid-row: 1;
}

#table {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#speech-grid {
    align-content: center;
}

#speech {
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding: 1rem;
    /*border-width: 30px;
    border-color: #443742;*/
    background-color: white;
}

#file, #phone, #checklist {
    grid-row: 1
}

.regular-button {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
    border-color: #443742;
    color: #443742;
    border-width: 1.5px;
    border-radius: 3px;
    font-size: 12pt;
}

.regular-button:hover {
    opacity: 70%;
}

.regular-button:hover {
    opacity: 70%;
}

.report-button {
    font-size: 1.5em;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2785ea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .custom-button:hover {
    background-color: #0065d0;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-items: flex-start;
  }
