.winlosetitle {
    font-family: 'Cursive', sans-serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }

  .winlose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EDD9A3;
  }
